<div class = 'handlebars'>
<section>
  <table class="table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Priority</th>
        <th>Name</th>
        <th>Description</th>
        <th>Location</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody data-id="{{items._id}}" data-name="{{items.name}}" data-description="{{items.description}}" data-location="{{items.location}}" data-priority="{{items.priority}}" data-status="{{items.status}}">
      <tr>
        <td>{{items.status}}</td>
        <td>{{items.priority}}</td>
        <td>{{items.name}}</td>
        <td>{{items.description}}</td>
        <td>{{items.location}}</td>
        <td><button type="button" class="edit-button btn btn-outline-warning"id="edit-button" data-toggle="modal" data-target="#editItem">Edit</button></td>
        <td><button type="button" class="btn btn-outline-danger delete-button" id="delete-button">Delete</button></td>
      </tr>
    </tbody>
  </table>
</section>
</div>
