<!-- {{#each item as |item|}} -->
<div class = 'handlebars'>
<section data-name="{{items.name}}" data-description="{{items.description}}" data-location="{{items.location}}" data-priority="{{items.priority}}">
  <table class="table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Priority</th>
        <th>Name</th>
        <th>Description</th>
        <th>Location</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="form-check">
          <input type="checkbox" class="form-check-input">
        </div>
      </td>
      <td>{{items.status}}</td>
      <td>{{items.priority}}</td>
        <td>{{items.name}}</td>
        <td>{{items.description}}</td>
        <td>{{items.location}}</td>
        <td><button type="button" class="btn btn-outline-warning"id="edit-button">Edit</button></td>
        <td><button type="button" class="btn btn-outline-danger" id="delete-button">Delete</button></td>
      </tr>
    </tbody>
  </table>
</section>
</div>

  <!-- {{#if list.editable}}

<div data-id = {{list.id}}>
  <div class="messages"></div>
  <button type="button" class="btn btn-outline-secondary updateRecipeButton" data-toggle="modal" data-target="#recipeUpdateModal">Update Recipe</button>
  <button type="button" class="btn btn-outline-danger deleteRecipe">Delete Recipe</button>
</div>

{{else}}

<div></div>

{{/if}}
</section>
</div> -->

<!-- {{/each}} -->

<div></div>

{{/if}}
</section>
</div> -->

<!-- {{/each}} -->
