
<div class = 'handlebars'>
<section>
  <table class="table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Priority</th>
        <th>Name</th>
        <!-- <th>Description</th>
        <th>Location</th> -->
        <th></th>
        <th></th>
      </tr>
    </thead>
    {{#each items as |item|}}
    <tbody data-id="{{item._id}}" data-name="{{item.name}}" data-description="{{item.description}}" data-location="{{item.location}}" data-priority="{{item.priority}}" data-status="{{item.status}}">
      <tr>
        <td class="itemStatus" name="{{item.status}}">{{item.status}}</td>
        <td>{{item.priority}}</td>
        <td class="item-name">{{item.name}}</td>
        <!-- <td>{{item.description}}</td>
        <td>{{item.location}}</td> -->
        <td><button type="button" class="edit-button btn btn-outline-warning" id="edit-button" data-toggle="modal" data-target="#editItem">Edit</button></td>
        <td><button type="button" class="btn btn-outline-danger delete-button" id="delete-button">Delete</button></td>
      </tr>
    </tbody>
    {{/each}}
  </table>
</section>
</div>
